# URL publique de l'API XamIoT
# Dev VPS : https://apixam.holiceo.com
# Prod     : https://api.xamiot.com
NEXT_PUBLIC_API_URL=https://apixam.holiceo.com

# Langue par défaut (fr | en | es)
NEXT_PUBLIC_DEFAULT_LANG=fr

# URL du site (utilisée pour les meta canonical)
NEXT_PUBLIC_SITE_URL=https://xamsite.holiceo.com

# URL du portail client (espace personnel, tickets, commandes)
# Dev VPS : https://xamcli.holiceo.com
# Prod     : https://client.xamiot.com
NEXT_PUBLIC_PORTAL_URL=https://xamcli.holiceo.com
